/* refer to full guide at: https://sass-lang.com/guide */

/* variables */

$main-font: Helvetica, sans-serif;
$primary-font-color: #333;

body {
	font: 100% $main-font;
	color: $primary-font-color;
}

/* nesting */

table.marks {
	tr {
		background-color:red;
	}

	td {
		width: 50px;
		height: 50px;
	}
}

/* partials */ 
/* allow to include the source code from other sass/scss files */
/* strict naming convention: prefix must be _ followed by any name */

/* _global_spacing.scss 

* {
	margin: 0;
	padding: 0;
}

*/

@import 'global_spacing';

p.article{
	font-size: 24px;
	font-style: italic;
}
